h1#greetings {
    position: relative;
    top: 0;
    left: 510px;
    width: 440px;
}

#map {
    position: absolute;
    top: 90px;
    left: 960px;

    display: block;
    width: 450px;
    height: 600px;
}



div.Wheel {
    position: relative;
    top: -10px;
    left: 510px;
    width: 300px;
}