h1#greetings
{
    position: relative;
    top: 0;
    left: 510px;
    width: 440px;
}


#map
{
    position: relative;
    top: -520px;
    left: 960px;

    display: block;
    width: 450px;
    height: 600px;
}



div.Wheel {
    position: relative;
    width: 300px;
    left: 510px;
}