div.FuncSelection {
    position: relative;
    top: -35px;
    left: 510px;
    display: block;

    width: 440px;
}

.WHEEL {
    position: relative;
    left: -20px;
    width: 85;
}

.NEARBY {
    position: relative;
    left: 20px;
    width: 85px;
}