.NearbyList {
    position: relative;
    top: 0px;
    left: 510px;
    display: block;

    width: 440px;
    height: 400px;
    background-color: #ff9900bf;
}

nav.NearbyNav ul {
    height: 400px; 
    width: 440px;
    overflow: hidden;
    overflow-y: scroll;
}

.ant-list-item-meta-title{
    text-align: left;
}

.ant-list-item-meta-description{
    text-align: left;
}

.Checkbox {
    position: relative;
    left: 0px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}
