@import '~antd/dist/antd.css';

.login-form {
  position: relative;
  width:400px;
  top: 0px;
  left: 0px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 400px;
}