@import '~antd/dist/antd.css';

.login-form
{
    position: relative;
    top: 0;
    left: 0;

    width: 400px;
}
.login-form-forgot
{
    float: right;
}
.ant-col-rtl .login-form-forgot
{
    float: left;
}
.login-form-button
{
    width: 400px;
}
