.SearchBar
{
    position: relative;
    top: -100px;
    left: 30%;
}

.Tabs
{
    position: absolute;
    top: 360px;

    display: block;

    width: 434px;
    height: 400px;
}

.ant-tabs-content-holder
{
    position: absolute;
    top: 40px;

    width: 434px;
}
