.SearchBar
{
    position: relative;
    top: -100px;
    left: 30%;
}

.Tabs
{
    position: absolute;
    top: 360px;

    display: block;

    width: 434px;
    height: 400px;
}

.ant-tabs-content-holder
{
    position: absolute;
    top: 40px;

    width: 434px;
}

nav ul{
    height:280px; 
    width:435px;
    overflow:hidden;
    overflow-y:scroll;
}

.ant-list-item-meta-title{
    text-align: left;
}

.ant-list-item-meta-description{
    text-align: left;
}

.Checkbox {
    position: relative;
    left:0px;
}
