.Choices {
	display:  block;
	position: relative;
	top: 10px;
}

#rectangle{
    width:370px;
    height:370px;
    background:blue;
   	display:  block;
	position: relative;
	top: -500px;
	left: 1000px;
}

.LOGOUT{
	display: block;
	position: relative;
	top: -630px;
	left:1350px;
}

.Wheel{
	display: block;
	position: sticky;
}

h1#title{
	display: block;
	position: sticky;
}