div#root {
    margin: 0;
    padding: 0;
    width: 100%;
    /* full window width */
    height: 100%;
    /* full window height */
    text-align: center;
/*    background-color: #4646469c;
*/}

#normal_login {
	padding: 13% 0;
	margin: auto;
    left: 15%;
}

h3.footer {
    display: block;
    position: fixed;
    top: 716px;
    left: 630px;
}

h3.gitIcon {
    display: block;
    position: fixed;
    width: 500px;
    left: 1000px;
    top: 730px;
}
